---
title: Articles
created_at: 2006-12-03T14:48:45+09:00
---

%div(class="search-box")
  %form(action="http://www.google.com/search" method="get")
    %table(summary="Search within this site.")
      %tr
        %td
          %input(type="text" value="" name="q")
        %td
          %input(type="hidden" value="#{config[:site][:domain]}" name="sitesearch")
          %input(type="submit" value="Search in this website")


%h3 Lists of articles

- year_groups =
-   items
-   .select(&:topic?)
-   .group_by {|i| i.identifier.match(%r{^(/\d+/\d+/)\d+/$})[1]}
-   .group_by {|m, ts| m[1..4]}
%dl.month-views
  - year_groups.sort_by {|y| y}.reverse.each do |y, ms|
    %dt= y
    - ms.sort_by {|m| m}.reverse.each do |m, ts|
      %dd
        %a(href="#{m}") #{m[1..4]}-#{m[6..7]} (#{ts.count})


%h3 Legacy topics

%ul
  %li
    %a(href="/2006/12/cereja/") cereja, alternative shell
  %li
    %a(href="/2005/12/bm2dx") beatmaniaIIDX 関連
  %li
    %a(href="/2004/04/bb4w") Blackbox for Windows 関連情報
